.paragraph-single-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
    
    .image-wrapper {
      width: 100%;
      .center-img {
        width: 100%;
        margin: 0 auto;
        padding: 19px 0 0;
  
            img {
            margin: 0;
            border: none;
            width: auto;
            height: auto;
            max-width: 100%;
            }
        }
    }
}