<div class="internal-hero-wrapper">
  <div class="hero-light"></div>

  <div class="hero-top-part" style='background-image: url("{{ hero.header_image }}")'>
    <h1 class="internal-hero-title">{{ hero.title }}</h1>
  </div>

  <div class="hero-bottom-part">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-wrapper">
          {{ hero.intro_text|raw }}
        </div>
      </div>
    </div>
  </div>
</div>
