#block-views-block-news-block-1 {
  .news-card {
    margin-bottom: 25px;
    border: 1px solid rgb(213,213,213);
    min-height: 194px;
    overflow: hidden;
    .news-image {
      float: left;
      width: 30%;
      height: 245px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      img {
        display: none;
      }
    }
    .news-content {
      width: 70%;
      float: right;
      padding: 15px 25px;
      h3 {
        a {
          text-decoration: none;
          color: rgb(0, 34, 81);
          font-size: 20px;
        }
      }
    }
  }
}

.view-id-staff_directory {

  fieldset.form-item-search {
    float: left;
    width: 75%;
  }

  #edit-actions {
    float: right;
    width: 25%;
    margin-top: 28px;
  }

  .view-content {
    clear: both;
  }

  .views-row {
    float: left;
    width: 45%;
  }
  .staff-card {
    margin-bottom: 25px;
    border: 1px solid rgb(213,213,213);
    min-height: 160px;
    overflow: hidden;
    .staff-image {
      float: left;
      width: 29%;
      height: 185px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      img {
        display: none;
      }
    }
    .staff-content {
      width: 71%;
      float: right;
      padding: 15px 25px;
      .list-group-item {
        margin: 5px 0px;
        border: none;
        padding: 0px;
      }
      h3 {
        a {
          text-decoration: none;
          color: rgb(0, 34, 81);
          font-size: 20px;
        }
      }
    }
  }
}

.main-content {
  &.with-sidebar {
    width: 75%;
    float: left;
    padding-right: 25px;
  }
}

.sidebar {
  width: 25%;
  float: right;
  margin-top: 10px;
  #block-views-block-news-block-2 {
    background: none;
    .update-card {
      padding: 25px 0px;
      border-bottom: 1px solid rgb(213,213,213);
      p {
        margin: 0px;
        padding: 0px;
      }
    }
    h2 {
      font-family: $nunito;
      font-weight: $regular;
      font-size: 35px;
      color: $black;
    }
    h3 {
      a {
        text-decoration: none;
        color: rgb(0, 34, 81);
        font-size: 20px;
      }
    }
  }
}

.view-task-orders {
  .view-content {
    clear: both;
    h3 {
      padding: 15px 0px;
      border-bottom: 1px dotted rgb(213,213,213);
      a {
        text-decoration: none;
        color: rgb(0, 34, 81);
        font-size: 20px;
      }
    }
  }

  fieldset.form-item-task-order {
    float: left;
    width: 75%;
  }

  #edit-actions {
    float: right;
    width: 25%;
    margin-top: 28px;
  }
}

#block-suggestionbox {
  background: rgb(213,213,213);
  padding: 50px;
  text-align: center;
  p {
    color: rgb(0, 34, 81);
    font-size: 32px;
    a {
      background-color: rgba(177, 31, 35, 0.93);
      border: 1px solid rgba(177, 31, 35, 0.93);
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: rgb(255, 255, 254);
      text-transform: capitalize;
      outline: none;
      border-radius: 5px;
      width: 120px;
      padding: 15px 25px;
      text-decoration: none;
    }
  }
}

.view-documents {
  .view-content {
    clear: both;
    h3 {
      padding: 15px 0px;
      border-bottom: 1px dotted rgb(213,213,213);
      a {
        text-decoration: none;
        color: rgb(0, 34, 81);
        font-size: 20px;
      }
    }
  }

  fieldset.form-item-combine {
    float: left;
    width: 75%;
  }

  #edit-actions {
    float: right;
    width: 25%;
    margin-top: 28px;
  }
}

.page-node-type-_news {
  time {
    font-weight: bold;
  }
  .field--name-body {
    margin: 25px 0px;
  }
  .field--name-field-image {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
