.path-frontpage {
  overflow-x: hidden;

  .paragraph-section {
    padding-top: 0;
    padding-bottom: 0;

    .full-content {
      margin-bottom: 0;
    }
  }

  .block-page-title-block {
    display: none;
  }

  .paragraph-unique-72 {
    text-align: center;
    padding-top: 50px;


    h2 {
      font-size: 72px;
      color: $black-blue;
      font-family: $grotesque-extra-con;
      text-transform: uppercase;

      &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 27px;
        height: 5px;
        border-bottom: 5px solid $yellow;
      }
    }

    .full-content {
      p {
        font-size: 18px;
        color: $cyan-blue;
        font-family: $latino;
        text-align: center;
        margin-left: 160px;
        margin-right: 160px;

        @media (max-width: 991px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .textmedium {
      font-size: 20px;
    }
  }

  .paragraph-unique-84 {
    padding-bottom: 40px;
    text-align: center;


    .paragraph-single-image {
      img {
        margin-top: 20px;
        height: 109px;
        width: 109px;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
      }
    }

    .full-content {
      p {
        text-align: center;
        font-family: $bernhard;
        font-size: 30px;
        color: $cyan-blue;
        width: 900px;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 400;

        @media (max-width: 991px) {
          width: auto;
          font-size: 28px;
        }

        @media (max-width: $screen-sm) {
          font-size: 25px;
        }

        &.textmedium {
          font-family: $bernhard;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }


  .paragraph-unique-160 {
    padding-top: 33px;
    padding-bottom: 30px;
    min-height: 556px;

    .full-content {
      background-color: rgba(3, 24, 36, 0.71);
      max-width: 430px;
      padding: 40px;
      text-align: center;

      @media (max-width: $screen-lg) {
        margin: 0 auto;
      }

      p {
        margin: 0;
        color: $white;
        text-align: left;
      }

      h2 {
        color: $white;
      }
    }

    .container {
      .single-container {
        .col-lg-6 {

          &:last-of-type {
            position: absolute;
            right: 0;

            @media (max-width: $screen-lg) {
              position: inherit;
              right: auto;
            }

            .center-img {
              position: absolute;
              right: 0;
              width: auto;

              @media (max-width: $screen-xl) {
                width: 90%;
              }

              @media (max-width: $screen-lg) {
                position: inherit;
                width: 100%;
                text-align: center;
              }

              img {
                height: 600px;
                width: auto;
                margin-top: -54px;

                @media (max-width: $screen-lg) {
                  margin-top: -2px;
                  height: 400px;
                }

                @media (max-width: $screen-md) {
                  height: 350px;
                }

                @media (max-width: $screen-sm) {
                  height: 250px;
                }
              }
            }
          }
        }
      }
    }
  }

  .paragraph-unique-304 {
    height: 565px;
    text-align: center;

    a {
      background-color: transparent;
      border: 1px solid $cyan-blue;
      padding: 8px 16px 8px;
      font-size: 14px;
      color: $cyan-blue;
      text-transform: uppercase;
      outline: none;
      border-radius: 0;
      letter-spacing: 3px;

      &:hover,
      &:focus {
        border-color: $cyan-blue;
        background-color: $cyan-blue;
        color: $yellow;
        text-decoration: none;

        &:after {
          background-image: url("../assets/images/right-arrow.png");
        }
      }

      &:after {
        background-image: url("../assets/images/right11.png");
        width: 8px;
        height: 15px;
        content: '';
        display: inline-block;
        margin-left: 15px;
        position: relative;
        bottom: -2px;
      }
    }

    @media (max-width: $screen-lg) {
      padding: 25px 0 50px 0;
      height: auto;
    }

    .col-lg-6 {
      position: absolute;
      left: 0;

      @media (max-width: $screen-lg) {
        position: inherit;
        right: auto;
      }

      .paragraph-single-image {
        display: inherit;
      }

      .center-img {
        position: absolute;
        left: 47px;
        width: auto;

        @media (max-width: $screen-xl) {
          width: 90%;
        }

        @media (max-width: $screen-lg) {
          position: inherit;
          width: 100%;
        }

        img {
          height: 580px;
          width: auto;
          margin-top: 9px;

          @media (max-width: $screen-lg) {
            height: 350px;
          }

          @media (max-width: $screen-md) {
            height: 300px;
          }

          @media (max-width: $screen-sm) {
            height: 200px;
          }
        }
      }

      &:last-of-type {
        position: absolute;
        right: 0;
        left: auto;

        @media (max-width: $screen-lg) {
          position: inherit;
          right: auto;
        }

        .full-content {
          @media (max-width: $screen-lg) {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .paragraph-unique-79 {
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
    margin-top: 71px;
    padding-top: 80px;
    padding-bottom: 30px;

    .full-content {
      p {
        font-size: 24px;
        text-align: center;
        color: white;
        max-width: 475px;
        margin: 0 auto;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: $grotesque-extra-con;
        font-weight: 400;
        line-height: 1.2;

        @media (max-width: $screen-min-sm) {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }

    img {
      height: auto !important;
      width: auto !important;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 80px;
      border: none;
    }

    h2 {
      font-size: 55px;
      color: $white;
      text-transform: uppercase;
      font-family: $grotesque-extra-con;

      &::after {
        display: none;
      }

      @media (max-width: $screen-min-lg) {
        font-size: 36px;
      }
    }
  }


  .paragraph-unique-304 {

    .single-cta-btn {
      margin-top: 0;
    }

    .paragraph-single-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    .full-content {
      padding-top: 50px;
      max-width: 350px;

      h2 {
        color: $dark-blue;
        font-size: 55px;
        font-family: $grotesque-extra-con;

        &:after {
          display: none;
        }
      }

      p {
        color: $text-color;
        font-size: 15px;
        font-family: $latino;
        text-align: left;
        margin-bottom: 30px;
      }
    }
  }

  .paragraph-single-image {
    img {
      width: 100%;
      height: auto;
      margin-bottom: -55px;
    }
  }

  .full-content {

    h2 {
      color: $white;
      font-size: 55px;
      font-family: $grotesque-extra-con;

      &:after {
        display: none;
      }

      img {
        width: 75px;
        height: 80px;
      }
    }

    p {
      font-size: 15px;
      font-family: $latino;
      text-align: left;
    }
  }
}

.paragraph-unique-87 {
  .exhibit {
    text-align: center;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: $grotesque-extra-con;

    @media (max-width: $screen-sm) {
      font-size: 70px;
    }
  }
}


.path-frontpage .paragraph-unique-308, .page-node-10 .paragraph-unique-363 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  .full-content {
    max-width: 340px;
    margin: 0 auto;

    h2 {
      img {
        width: 60px;
        height: auto;
      }
    }
  }

  a {
    background-color: transparent;
    border: 1px solid $dark-white;
    padding: 8px 16px 8px;
    font-size: 14px;
    color: $orange;
    text-transform: uppercase;
    outline: none;
    border-radius: 0;
    letter-spacing: 3px;

    &:hover,
    &:focus {
      border-color: $cyan-blue;
      background-color: $cyan-blue;
      color: $orange;
      text-decoration: none;
    }

    &:after {
      background-image: url("../assets/images/right-arrow.png");
      width: 8px;
      height: 15px;
      content: '';
      display: inline-block;
      margin-left: 15px;
      position: relative;
      bottom: -2px;
    }
  }
}

.page-node-10 .paragraph-unique-363 {
  height: 360px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 1024px) {
    height: auto;
  }

  .paragraph-single-image .image-wrapper .center-img img {
    max-width: 70%;
  }

  .full-content {
    max-width: initial;

    h2 {
      color: #fff;
      font-size: 75px;
      font-family: $grotesque-extra-con;
    }

    p {
      font-size: 16px;
      font-family: $latino;
      text-align: left;
      font-weight: 400;
    }

    a.btn-primary {
      margin-top: 0;
    }
  }
}

.paragraph-unique-147 {
  p {
    color: $yellow;
    font-size: 22px;
  }
}
