.user-logged-in {
  .main-header {
    top: 79px;

    @media (max-width: $screen-lg) {
      top: 39px;
    }
  }
}

.main-header {
  background-color: $white;
  .navbar-brand {
    float: none;
  }
}
