.internal-hero-wrapper {
  min-height: 400px;
  position: relative;

  @media (max-width: $screen-xl) {
    min-height: 600px;
  }


  &.display-none-bottom-part {
    min-height: 395px;
    .hero-light {
      min-height: 395px;
    }
    .hero-bottom-part {
      display: none;
    }
  }

  .col-md-8.text-wrapper {
    @media (max-width: $screen-min-lg) {
      padding-bottom: 52px;
    }
  }

  .hero-top-part {
    height: 395px;
    background-size: cover;
    padding-top: 180px;

    h1 {
      text-shadow: 0 0 70px rgba(0, 22, 64, 0.9);
      color: $white;
      font-family: $montserrat;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: $medium;
      text-align: center;
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;

      @media (max-width: 1199px) {
        font-size: 80px;
      }
    }
  }

  .hero-bottom-part {
    background-color: $blue;

    .text-wrapper {
      p {
        color: $dark-white;
        font-family: $montserrat;
        font-size: 18px;
        line-height: 1.7;

        &:first-child {
          padding-top: 65px;
        }
      }
    }
  }
}
