input[type='text'], input[type='email'], textarea {
  background-color: rgb(239, 239, 239);
}

textarea {
  &.form-control {
    background-color: rgb(239, 239, 239);
  }
}

select {
  &.form-select {
    background-color: rgb(239, 239, 239);
  }
}
