nav.tabs {
  margin-bottom: 0 !important;
}

// Sitemap

.sitemap {
  padding-top: 50px;

  .sitemap-menu {
      li {
        a {
          font-family: $montserrat;
          font-weight: $bold;
          font-size: 18px;
          color: $cyan-blue;
        }
      }
    }
}
