/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request: h5bp.com/r
// ==========================================================================

@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important; // Black prints faster: h5bp.com/s
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    header#header {
      position: inherit;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group; // h5bp.com/t
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  
    // Bootstrap specific changes start
  
    [class*="col-sm"],
    [class*="col-md"],
    [class*="col-lg"] {
      flex: none;
      max-width: 100%;
    }
  
    // Bootstrap components
    .navbar {
      display: none;
    }
  
    a {
      &::after {
        display: none;
      }
    }
  
    .btn,
    .dropup > .btn {
      > .caret {
        border-top-color: #000 !important;
      }
    }
    .label {
      border: 1px solid #000;
    }
  
    .table {
      border-collapse: collapse !important;
  
      td,
      th {
        background-color: #fff !important;
      }
    }
    .table-bordered {
      th,
      td {
        border: 1px solid #ddd !important;
      }
    }
  
    body {
      overflow: hidden !important;
    }
  
    .video-wrapper-border {
      display: none;
    }
  
    .btn-primary,
    .single-cta-btn {
      display: none;
    }
  
    .paragraph-design-accordion {
      display: none;
    }
  
    // Bootstrap specific changes end
  
    //end of print
  
  
    header {
        display: none !important;
    }

    .footer {
      border-top: none;
    }

    .btn-secondary, .btn-primary {
      display: none !important;
    }

    .internal-hero-wrapper .hero-top-part {
      min-height: 300px;
    }

    .hero-bottom-part {
      .img-wrapper {
        display: none;
      }
    }

    .internal-hero-wrapper .hero-bottom-part .text-wrapper p {
      color: $black;
    }

    .path-frontpage {
      .hero {
        display: none !important;
      }
      
      .exhibit {
        padding-bottom: 50px;
      }
      .paragraph-unique-160 {
        min-height: 500px !important;
      }
    }

    .view-the-exhibit {
      .wraper-exhibit {
        min-height: 30px !important;

        .the-info {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }

    .view-the-exhibit .view-content.row .views-row:last-child .the-exhibit .wraper-exhibit {
      min-height: 30px !important;
    }

    .path-frontpage .paragraph-unique-160 .container .single-container .col-lg-6:last-of-type .center-img img {
      display: none !important;
    }

    .path-frontpage .paragraph-unique-304 .col-lg-6 .center-img img {
      display: none !important;
    }

    .exhibit-page .paragraph-section .full-content::before, .exhibit-page .paragraph-section .full-content::after {
      display: none;
    }

    .artifact .artifact-image {
      display: none;
    }

    .page-node-type-exhibit .footer {
      border-top: none;
    }
    
    .internal-hero-wrapper .hero-top-part h1 {
      color: $black;
    }

    .footer-image-wrapper img {
      display: none;
    }

    .featured-slider .heroSlider-fixed .slick-track .slick-slide .slide-image {
      display: none;
    }

    .featured-slider .heroSlider-fixed .prev, .featured-slider .heroSlider-fixed .next {
      display: none !important;
    }

    div {
      page-break-inside: avoid;
    }

    .footer p.f-social-media {
      display: none !important;
    }

    #viewport-settings {
      display: none !important;
    }

  }
  