html {
  background: #041a27;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $white;
  #main-wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 25px 0px;
  }

}

h1 {
  font-family: $nunito;
  font-weight: $bold;
  font-size: 42px;
  color: $black;

  @media (max-width: $screen-lg) {
    font-size: 90px;
  }

  @media (max-width: $screen-md) {
    font-size: 80px;
  }

  @media (max-width: $screen-sm) {
    font-size: 70px;
  }
}

h2 {
  font-family: $nunito;
  font-weight: $regular;
  font-size: 35px;
  color: $black;

  @media (max-width: $screen-lg) {
    font-size: 50px;
  }

  @media (max-width: $screen-md) {
    font-size: 47px;
  }

  @media (max-width: $screen-sm) {
    font-size: 44px;
  }
}

h3 {
  font-family: $nunito;
  font-weight: $medium;
  font-size: 32px;
  color: $black;

  @media (max-width: $screen-lg) {
    font-size: 30px;
  }

  @media (max-width: $screen-md) {
    font-size: 28px;
  }

  @media (max-width: $screen-sm) {
    font-size: 26px;
  }
}

p {
  font-family: $nunito;
  font-weight: $regular;
  font-size: 16px;
  color: $black;
  letter-spacing: normal;
}

#main {
  min-height: 300px;
}

.btn-primary {
  background-color: rgba(177, 31, 35, 0.93);
  border: 1px solid rgba(177, 31, 35, 0.93);
  padding: 0px;
  font-family: $montserrat;
  font-size: 14px;
  color: $white;
  text-transform: capitalize;
  outline: none;
  border-radius: 5px;
  width: 120px;

  &:hover,
  &:focus {
    border-color: rgba(177, 31, 35, 0.93);
    background-color: $white;
    color: rgba(177, 31, 35, 0.93);
    text-decoration: none;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid $cyan-blue;
  padding: 8px 16px 13px;
  font-family: $montserrat;
  font-size: 14px;
  color: $cyan-blue;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;
  letter-spacing: 3px;

  &:hover,
  &:focus {
    border-color: $cyan-blue;
    background-color: $cyan-blue;
    color: $yellow;
    text-decoration: none;
  }
}

.table td, .table th {
  padding: 5px 10px;
  vertical-align: inherit;
  width: auto;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

.off-canvas-wrapper {
  display: none;
}

.copyright {
  border-top: 1px solid rgb(177, 31, 35);
  width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  .left {
    float: left;
    font-size: 10px;
    color: $white;
    a {
      text-transform: capitalize;
      text-decoration: none;
      font-size: 10px;
      color: $white;
    }
  }
  .right {
    float: right;
    color: $white;
    font-size: 10px;
    a {
      text-transform: capitalize;
      text-decoration: none;
      font-size: 10px;
      color: $white;
    }
  }
}

nav {
  a {
    text-transform: capitalize;
    text-decoration: none;
  }
  .we-mega-menu-submenu>.we-mega-menu-submenu-inner {
    min-height: 15px;
  }
  .we-mega-menu-submenu li.we-mega-menu-li {
    width: 100%;
  }
}


.feed-icons {
  display: none;
}

.page-view-frontpage {
  #main-wrapper {
    display: none;
  }
}
